@use "../../scss/base/mixin" as m;
.footer {
  // margin-top: 8.125rem;
  // background-color: rgba(21, 29, 51, 0.9);
  // backdrop-filter: blur(5px);
  padding-block: 50px 0;
  position: relative;
  z-index: 11;

  &__div {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3rem;

  }
  &__h3 {
    font-size: 3rem;
  }

  &__container-socials {
    display: flex;
    gap: 20px;
    align-items: center;
    gap: 0.625rem;
    background-color: rgb(221, 224, 226);
    padding: 10px;
    border-radius: 8px;
  }

  &__git {
    color: black;
  }
  &__linkedin {
    color: rgb(10, 102, 194);
  }
  &__whatsApp {
    color: rgb(48, 184, 15);
  }
}

.copyright {
  padding-block: 20px;
  margin-top: -3px;
  width: 100%;
}

.video{
  position: absolute;
  width: 96%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  display: none;
  @include m.query(912px) {
   display: block;
  }
}
