@use "../../scss/base/variables" as v;
@use "../../scss/base/mixin" as m;

.projects {
  &__title {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    z-index: 16;

    @include m.media {
      font-size: 5rem;
    }
  }
  &__description {
    font-family: v.$tipografia_secondary;
    text-align: left;
    font-size: 1.0625rem;
    z-index: 16;
    

    @include m.media {
      font-size: 1.5625rem;
      text-align: center;
      max-width: 60%;
    }
  }

  &__grid {
    width: 94%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    @include m.query(1195px) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    gap: 1rem;
    align-items: center;
  }
  &__flex {
    width: 94%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    @include m.media{
      grid-template-columns: repeat(3,1fr); 
    }
    align-items: center;
    gap: 1rem;
  }
  &__art{
    position: relative;
    flex-basis: 18.75rem;
    flex-grow: 1;
  }
  &__article {
    position: relative;
    flex-basis: 18.75rem;
    flex-grow: 1;

    @include m.query(912px) {
      &:last-child {
        grid-column: 2/3;
      }
    }
  }

  

  &__figure {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__button {
    margin-top: 1.5rem;
    margin-bottom: 0.625rem;
    padding: 0.875rem 1.875rem;
    box-shadow: 0px 0px 5px rgb(240 234 234 / 30%);
    border-radius: 0.5rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    transition: background-color 0.5s ease;
    cursor: pointer;
    z-index: 10;
    &:hover {
      background-color: rgba(226, 12, 226, 0.3);
    }
  }

  &__card {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 100;
    background-color: hsla(0, 0%, 2%, 0.6);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.7rem;
    opacity: 0;
    transition: opacity 1s ease, transform 1s;

    &:hover {
      opacity: 1;
    }

    &--title {
      color: v.$color_light;
    }
  }
}

.flex {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.125rem;
  letter-spacing: 0.1875rem;

  &__web--button {
    padding: 0.6rem;
    border-radius: 0.5rem;

    &::before {
      content: "";
      display: inline-block;
      padding: 5px;
    }
  }

  &__socials {
    clip: rect(0, 0, 0, 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1;
    overflow: hidden;
    padding: 0;
    width: 1px;
  }
}
