$color_primary: #0a0a0a;
$color_secundary: #cfb8eb;
$dark_purple: #53167c;
$light_blue: #3b66a5;
$light_blue-2: #3b66a5;
$green: #26c526;
$color_light: #fff;
$yellow: #ffc93c;
$yellow_2: #ffc93c;
$tipografia_primary: 'Quicksand', sans-serif;
$tipografia_secondary: 'Raleway', sans-serif;